<style>
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

  body {
    font-family: 'Open Sans', sans-serif;
  }
  h1 {
    font-family: 'Roboto', sans-serif;
  }
</style>

<h1>Welcome</h1>
<%= link_to "about", about_path %>
<%= link_to "contact", contact_path %>
